.text
	h1 Url Shortner
	p This is my Url shortner, it takes a URL and assigns a short URL in response, this can then be used to access the site, this is used to allow easy transcription of sites with long URLs such as a blog. 


.examples
	h1 Examples of Use
	p localhost:3000/new/https://www.google.com

.output
	h1 Output
	p {"longUrl" : "https://www.google.com", "shortUrl": localhost:3000/0}